<html lang="es" xmlns="http://ww.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<title>PADRES</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
	        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.23.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.23.0/dist/sweetalert2.all.min.js"></script>
	<div class="container">

		<div class="card">
			<div class="card-header">
				<h2>Guardar Padre</h2>
			</div>
			<div>
				<a class="btn btn-outline-dark" th:href="@{/}">Principal</a>
			</div>
			<div class="card-body">
				<form th:object="${padre}" method="post" th:action="@{/guardar}">
					<div>
						<label for="idPadre">ID PADRE</label>
						<input class="form-control" type="number" name="idPadre" min="1" th:field="*{idPadre}">
					</div>
					<div>
						<label for="nombre">NOMBRE</label>
						<input class="form-control" type="text" name="nombre" min="1" th:field="*{nombre}">
					</div>
					<div>
						<label for="nombre">APELLIDO</label>
						<input class="form-control" type="text" name="apellido" min="1" th:field="*{apellido}">
					</div>
					<div>
						<label for="nombre">EDAD</label>
						<input class="form-control" type="number" name="edad" min="1" th:field="*{edad}">
					</div>
					<div>
						<label for="nombre">TRABAJO</label>
						<input class="form-control" type="text" name="trabajo" min="1" th:field="*{trabajo}">
					</div>
					<div><input class="btn btn-success" type="submit" , name="guardar" value="GUARDAR"> </div>
				</form>

			</div>
		</div>
	</div>
	<!-- SweetAlert para mensaje -->
	<script th:inline="javascript" th:if="${mensaje != null}">
	    Swal.fire({
	        icon: 'success',
	        title: 'Éxito',
	        text: "[[${mensaje}]]", // <- expresión Thymeleaf dentro de comillas
	        timer: 2000,
	        showConfirmButton: false
	    });
	</script>


</body>

</html>